<!--Add Nav Bar-->
{% extends "base.html"%} 
<!--Change Title of Page-->
{% block title %}Credit Utilization{% endblock %}
<!--Add Content-->
{%block content%} 

<form method="POST" enctype="multipart/form-data">
    <h1 style="text-align:center">Credit Utilization Finder</h1>
    <div class="container-fluid">    
        <div class="card mt-5" id="signupCard">
            <h5 class="card-header" style="text-align: center;">Upload your Spreadsheet</h5>
            <div class="card-body">
                <div class="row justify-content-center mb-2">
                    <label>Upload File</label>
                    <div class="col mt-1">
                        {{ form.file(class="form-control") }}
                        {% if form.file.errors %}
                            <span style="color: red;">{{ form.file2.errors[0] }}</span>
                        {% endif %}
                    </div>     
                </div>
                <div class="row">
                    <label>Type of Service</label>
                    <div class="col mt-1">
                        <select class="form-select mb-2" id="service_type" name="service_type">
                            <option selected>Core</option>
                            <option>Medical</option>
                            <option>Skin Health</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="utilization" class="form-label">Utilization % (0-100)</label>
                    <input type="number" class="form-control mt-1" id="utilization" placeholder="Only the Number" name="utilization">
                  </div>
                <div class="row">    
                    {{ form.submit(class="btn btn-primary") }}
                </div> 
            </div>
        </div>
    </div>
  </form>

{% endblock %}