<!--Add Nav Bar-->
{% extends "base.html"%} 
<!--Change Title of Page-->
{% block title %}Month Comparison{% endblock %}
<!--Add Content-->
{%block content%} 

<form method="POST" enctype="multipart/form-data">
    <h1 style="text-align:center">Month Comparison</h1>
        <h5 style="text-align: center;">Below are the statistics of both datasets that you have provided. A file has been created with the lost members between the two datasets</h5>
        <div class="container-fluid" style="text-align: center">
            <div>
                <button type="sumbit" class="btn btn-primary mt-1 mb-2" role="button" id="home_page_button">Download Lost Members Dataset</button>
            </div>
        </div>
        {% for display in displays %}
        <div class="row container-fluid">
        <div class="card" id="month_card">
            <div class="card-header">
              {{ display.previous_month }}
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" id="previous_membership_count">Total number of all memberships: {{ display.previous_membership_count }}</li>
              <li class="list-group-item" id="previous_discover_count">Number of Discover Memberships: {{ display.previous_discover_count }}</li>
              <li class="list-group-item" id="previous_levelup_count">Number of Level Up Memberships: {{ display.previous_levelup_count }}</li>
              <li class="list-group-item" id="previous_elevate_count">Number of Elevate Memberships: {{ display.previous_elevate_count }}</li>
              <li class="list-group-item" id="previous_core_count">Number of Core Memberships: {{ display.previous_core_count }}</li>
              <li class="list-group-item" id="previous_restore_count">Number of Restore Memberships: {{ display.previous_restore_count }}</li>
              <li class="list-group-item" id="previous_restorecouples_count">Number of Restore Couples Memberships: {{ display.previous_restorecouples_count }}</li>
              <li class="list-group-item" id="previous_wellness_count">Number of Wellness Memberships: {{ display.previous_wellness_count }}</li>
              <li class="list-group-item" id="previous_wellnesscouples_count">Number of Wellness Couples Memberships: {{ display.previous_wellnesscouples_count }}</li>
              <li class="list-group-item" id="previous_daily_count">Number of Daily Memberships: {{ display.previous_daily_count }}</li>
            </ul>
        </div>
        <div class="card" id="month_card">
            <div class="card-header">
                {{ display.current_month }}
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" id="current_membership_count">Total number of all memberships: {{ display.current_membership_count }}</li>
              <li class="list-group-item" id="current_discover_count">Number of Discover Memberships: {{ display.current_discover_count }}</li>
              <li class="list-group-item" id="current_levelup_count">Number of Level Up Memberships: {{ display.current_levelup_count }}</li>
              <li class="list-group-item" id="current_elevate_count">Number of Elevate Memberships: {{ display.current_elevate_count }}</li>
              <li class="list-group-item" id="current_core_count">Number of Core Memberships: {{ display.current_core_count }}</li>
              <li class="list-group-item" id="current_restore_count">Number of Restore Memberships: {{ display.current_restore_count }}</li>
              <li class="list-group-item" id="current_restorecouples_count">Number of Restore Couples Memberships: {{ display.current_restorecouples_count }}</li>
              <li class="list-group-item" id="current_wellness_count">Number of Wellness Memberships: {{ display.current_wellness_count }}</li>
              <li class="list-group-item" id="current_wellnesscouples_count">Number of Wellness Couples Memberships: {{ display.current_wellnesscouples_count }}</li>
              <li class="list-group-item" id="current_daily_count">Number of Daily Memberships: {{ display.current_daily_count }}</li>
            </ul>
        </div>
        </div>
        <br>
    </div>
    {% endfor %}
  </form>



{% endblock %}