<!--Add Nav Bar-->
{% extends "base.html"%} 
<!--Change Title of Page-->
{% block title %}Promotions{% endblock %}
<!--Add Content-->
{%block content%} 

<div class="container-fluid">
    <p>At the moment, I have decided not to create a UI experience for the promotions report tool. There are a couple of reasons but the two main reasons are</p>
    <p>1. The script that I wrote for this was easy meaning the tasks it performs are simple. I believe that it can be done in excel by anyone who knows a little about excel</p>
    <p>2. If done correcting, the front front desk should be using the promotion codes during check out. This is sent to a report in Tableau named "Promotions," making this redundant</p>
    <p>The script is still funcational and fast but a UI with backend support does not seem necessary at the moment</p>
    <p>In the future, the script will be updated to read all promotions that were going on in a certian timeframe and spit out all the names needed. But for now, I will work other things</p>
</div>
{% endblock %}